html, body {
    margin: 0px;
}

html{
    height: auto;
}

body{
    height: auto;
}

.back{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url(../resources/wall.jpg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
}

.container{
    opacity: 0.9;
    padding-top: 30px;
    padding-bottom: 100px;
    height: auto;
    max-height: max-content;
    background-color: white;
}

.profile-container{
    font-size: xx-large;
    padding: 50px;
}